@charset "utf-8";

/*@font-face {font-family:'HiraginoSansGB-W3';src:url(../fonts/HiraginoSansGB-W3.eot);}
@font-face {
	font-family:'HiraginoSansGB-W3';
	src:url(../fonts/HiraginoSansGB-W3.woff) format('woff'); }
@font-face {font-family:'STHeiti';src:url(../fonts/STHeiti.eot);}
@font-face {
	font-family:'STHeiti';
	src:url(../fonts/STHeiti.woff) format('woff'); }*/

body{
	padding:0;
	margin:0;
	background:url(../images/global/main_bg.jpg) top center;
	font-family:'Microsoft YAHEI';
	color:#fff;
}
a{
	text-decoration:none;
	border:none;
}
img{
	border:none;
}

ul,li{
	padding:0;
	margin:0;
	list-style:none;
}

.clear:after{
	content:" ";
	display:block;
	clear:both;
}
.full_height{
	height:100%;
}

.main_width{
	width:1010px;
	margin:0 auto;
	position:relative;
}

#search{
	height:30px;
	position:relative;
}
#search_key{
	border:1px solid #ccc;
	background:none;
	color:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	position:absolute;
	right:40px;
	top:5px;
}
#search a{
	position:absolute;
	top:50%;
	margin-top:-11px;
	right:0;
	display:block;
	height:23px;
}
#search a img{
}
#navigator{
	height:110px;
	background:#000;
	position:fixed;
	color:#fff;
	top:0;
	width:100%;
	z-index:10000;
}
#logo{
	position:relative;
	height:100%;
	float:left;
}
#logo img{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	*top:20px;
}
#login{
	position:absolute;
	top:100%;
	cursor:pointer;
}
#login img{
	--width:100px;
	height:66px;
}
#login .loginbtns{
	--height:56px;
	width:0px;
	position:absolute;
	top:14px;
	left:46px;
	--font-size:0;
	overflow:hidden;
}
#login .loginbtns a{
	color:#fff;
	display:block;
	color:#2495c0;
	line-height:20px;
	font-size:14px;
	padding-left:23px;
}
/*#login a{
	position:absolute;
	display:block;
	width:15px;
	height:28px;
	background:none;
}*/
#loginbtn,#hi{
	--top:20px;
	--left:63px;
	width:400px;/*57*/
	height:22px;
	background:url(../images/global/login_btn.png) top left no-repeat;
}
#loginbtn:hover{
}
#registbtn,#logoutBtn{
	--top:49px;
	--left:63px;
	height:22px;
	width:400px;
	background:url(../images/global/regist_btn.png) top left no-repeat;
}
#registbtn:hover{
	
}
#navigator .nav_parent{
	float:right;
	height:100%;
}
#navigator .nav_parent_li{
	float:left;
	line-height:80px;
	margin-left:20px;
	font-size:17px;
}

#navigator .nav_parent_li a{
	color:#fff;
	text-decoration:none;
	display:block;
	min-width:68px;
	text-align:center
}
#navigator .nav_parent_li a.on,
#navigator .nav_parent_li a:hover{
	color:#0099d3;
}
#navigator .nav_parent_li img{
	*margin-top:30px;
}
#navigator .nav_parent_li .share{
	*margin-top:30px;
}

#navigator .nav_child{
	display:none;
	position:relative;
	top:-20px;
	zoom:1;
}

#navigator .nav_child_li{
	line-height:30px;
	font-size:14px;
	text-align:center;
	background:#000;
	width:68px;
	position:relative;
}
#navigator .nav_child_li img{
	*margin-top:0;
}

#navigator .nav_child_1{
	display:none;
	position:absolute;
	top:0px;
	left:-100px;
	zoom:1;
}

#maincontent{
	min-height:500px;
	margin-top:89px;
}

#footer{
	padding:8px 0;
	background:#000000;
	position:fixed;
	bottom:0;
	width:100%;
}
#footer img{
	width:100px;
	height:29px;
}
#logo_footer{
	float:left;
}
#copyright{
	float:left;
	color:#fff;
	padding-left:20px;
	font-size:12px;
	line-height:29px;
}
#coopration{
	float:right;
}
#coopration li{
	float:left;
	margin-left:50px;
}



.scroller .viewport { 
	--width:100%;
	height: 100%; 
	overflow: hidden; 
	position: relative; 
}
.scroller .overview { 
	list-style: none; 
	position: absolute; 
	left: 0; 
	top: 0; 
	padding: 0; 
	margin: 0; 
	width:100%;
}
.scroller .scrollbar{ 
	background: transparent url(../images/global/scrollbar/bg-scrollbar-track-y.png) no-repeat 0 0; 
	background-size:7px 100%;
	position: relative; 
	background-position: 0 0; 
	float: right; 
	width: 7px; 
}
.scroller .track { 
	--background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; 
	height: 100%; 
	width:7px; 
	position: relative; 
	--padding: 0 1px; 
}
.scroller .thumb { 
	background: transparent url(../images/global/scrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; 
	background-size:3px 100%;
	height: 20px; 
	width: 3px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: 2px; 
}
.scroller .thumb .end { 
	--background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; 
	overflow: hidden; 
	height: 5px; 
	width: 3px; 
}
.scroller .disable { 
	display: none; 
}
.noSelect { 
	user-select: none; 
	-o-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
}