@charset "utf-8";

#timeline{
	width:100%;
	height:513px;
}

.timeline_bg{
	position:absolute;
	--left:50%;
	--margin-left:-962px;
	width:100%;
	top:50px;
}
.dot{
	position:absolute;
	width:30px;
	display:none;
}
#dot1{
	top:183px;
	left:239px;
}
#dot2{
	top:183px;
	left:573px;
}
#dot3{
	top:183px;
	left:665px;
}

.part{
	color:#fff;
	width:160px;
	position:absolute;
}
.part a{
	color:#fff;
}

.part h3{
	margin:10px 0;
	
}
.part p{
	margin:0;
	font-size:14px;
	line-height:25px;
	display:none;
}

#part1{
	left:250px;
	top:220px;
}

#part2{
	left:590px;
	top:220px;
}
#part3{
	left:690px;
	top:50px;
}