@charset "utf-8";

#timeline{
	width:100%;
	height:513px;
}

.timeline_bg{
	position:absolute;
	left:50%;
	margin-left:-962px;
}

.part{
	color:#fff;
	width:150px;
	position:absolute;
}
.part a{
	color:#fff;
}

.part h3{
	margin:10px 0;
	
}
.part p{
	margin:0;
	font-size:14px;
	line-height:25px;
	display:none;
}

#part1{
	left:10px;
	top:320px;
}

#part2{
	left:630px;
	top:320px;
}
#part3{
	left:870px;
	top:30px;
}