@charset "utf-8";

#timeline{
	width:100%;
	height:513px;
}

.base_line{
	height:1px;
	border:none;
	background:#9fdbfb;
	width:0px;
	position:absolute;
	top:198px;
}
.timeline_mask{
	height:193px;
	overflow:hidden;
	position:absolute;
	top:50px;
	width:0px;
}
.timeline_bg{
	position:absolute;
	--left:50%;
	--margin-left:-962px;
	width:1010px;
	--height:193px;
	--top:50px;
}
.dot{
	position:absolute;
	width:30px;
	display:none;
}
#dot1{
	top:183px;
	left:239px;
}
#dot2{
	top:183px;
	left:573px;
}
#dot3{
	top:183px;
	left:665px;
}

.part{
	color:#fff;
	width:160px;
	position:absolute;
	display:none;
}
.part a{
	color:#fff;
}

.part h3{
	margin:10px 0;
	
}
.part p{
	margin:0;
	font-size:14px;
	line-height:25px;
	display:none;
}

#part1{
	left:240px;
	top:220px;
}

#part2{
	left:570px;
	top:220px;
}
#part3{
	left:690px;
	top:50px;
}