@charset "utf-8";
/* CSS Document */

.suggest{
	font-size:12px;
}
.title_input{
	width:80%;
}

.summary_textarea{
	width:100%;
	height:50px;
}
.content_textarea{
	width:100%;
	height:100px;
}

#list li{
	border:1px solid #fff;
	padding:10px 0;
}