@charset "utf-8";


/*.service_list h2{
	margin:8px 0;
	font-size:18px;
}
.service_list p{
	margin:0;
	font-size:14px;
	line-height:20px;
}
.service_list .article{
	width:390px;
	height:133px;
	color:#fff;
	padding:5px;
}

.service_list img{
	width:609px;
}

.service_list .odd .article{
	float:left;
}
.service_list .odd img{
	float:right;
}
.service_list .even .article{
	float:right;
}
.service_list .even img{
	float:left;
}*/

.article{
	color:#fff;
}

.article h2{
	font-size:16px;
	margin:20px 0;
	padding:20px;
}
.article p{
	padding:0 80px;
	font-size:12px;
	line-height:22px;
	text-indent:2em;
}
.article .content_left{
	width:50%;
	float:left;
}
.article .content_left>*{
	float:right;
}
.article .content_right{
	width:50%;
	float:right;
}
.article ul{
	margin:25px 35px;
	width:251px;
}
.article li{
	font-size:12px;
	line-height:36px;
}
.article li:before{
	content:"·";
	color:#fff;
	margin-right:10px;
}
.article img{
	border:2px solid #fff;
	height:160px;
	margin:25px 35px;;
}