@charset "utf-8";

body{
	--background:url(../images/team/team_bg.jpg) top center;
}

#manager h2{
	font-size:24px;
}
#manager .general_frame{
	width:600px;
	height:386px;
	border:2px solid #fff;
	float:left;
	--background:url(../images/team/general_frame.png) no-repeat;
	background-size:contain;
	position:relative;
	margin-left:30px;
}
#manager .general_frame img{
	width:600px;
	height:386px;
	position:relative;
	top:30px;
	left:-30px;
	border:2px solid #fff;
}

#manager .info{
	height:414px;
	width:375px;
	float:right;
	position:relative;
}
#manager .info_content{
	padding-left:60px;
}
#manager .info_content .name{
	font-size:14px;
	margin-top:100px;
	margin-bottom:5px;
	font-weight:bold;
}
#manager .info_content .duties{
	margin-top:0;
	font-size:13px;
	margin-bottom:20px;
	font-weight:bold;
}
#manager .info_content .describe{
	font-size:12px;
}

#manager .vice{
	--background:url(../images/team/vice_frame_1.png) no-repeat;
	/*background:url(../images/team/vice_frame.png) no-repeat;*/
	background-size:cover;
	margin-top:55px;
	/*height:541px;*/
	height:270px;
	width:960px;
	position:relative;
	border:2px solid #fff;
}
#vice_img1{
	position:relative;
	float:right;
	top:-20px;
	left:50px;
	height:242px;
	--width:567px;
	width:470px;
	border:2px solid #fff;
}
#vice_img2{
	position:absolute;
	left:10px;
	top:280px;
	height:222px;
	width:499px;
}
#manager .vice .info1{
	text-align:right;
	position:absolute;
	width:350px;
	top:30px;
	left:10px;
}
#manager .vice .name{
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:50px;
}
#manager .vice .duties{
	font-size:13px;
	font-weight:bold;
	margin-top:0;
}
#manager .vice .position{
	font-size:12px;
}
#manager .vice .info2{
	text-align:left;
	position:absolute;
	width:340px;
	right:110px;
	top:230px;
}

#brand_team{
	color:#fff;
}
#brand_team h2{
	font-size:14px;
	position:relative;
}
#technology{
	height:618px;
	width:1010px;
	background:url(../images/team/team_tech_bg.png) center center no-repeat;
	position:relative;
	margin-top:100px;
}
#technology h2{
	font-size:14px;
	/*top:50px;
	left:830px;
	display:inline-block;
	*display:inline;*/
}
#technology .province{
	position:absolute;
	font-size:12px;
}
#technology .province .hidearea{
	background:rgba(0,0,0,0.5);
	*background:url(../images/team/tech_bg.png);
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	position:absolute;
	display:none;
}
#technology .text{
	line-height:18px;
}
#technology .province .text,#technology .province img{
	--display:none;
}
#technology .triangle{
	width:44px;
	height:63px;
	position:absolute;
}
#technology .triangle.left{
	background:url(../images/team/tri_left.png) no-repeat;
}
#technology .triangle.right{
	background:url(../images/team/tri_right.png) no-repeat;
}

#technology .province.beijing{
	left:690px;
	top:190px;
}
#technology .province.beijing .hidearea{
	width:215px;
	left:-240px;
	top:-150px;
}

#technology .province.beijing .triangle{
	top:0;
	left:0;
}
#technology .province.shanghai{
	left:750px;
	top:230px;
}
#technology .province.shanghai .text{
	width:300px;
}
#technology .province.shanghai img{
}
#technology .province.shanghai .triangle{
	left:-30px;
	top:130px;
}
#technology .province.sichuan{
	left:440px;
	top:310px;
}
#technology .province.sichuan .hidearea{
	width:180px;
	left:-205px;
	top:-20px;
}

#technology .province.sichuan .triangle{
	left:0;
	top:0;
}


#culture{
	margin-bottom:300px;
}
#culture h2{
	font-size:14px;
	top:0px;
}
.team_culture_border{
	border:1px solid #fff;
	transform:skewY(-26.5deg);
	width:990px;
	padding-bottom:20px;
	padding-left:20px;
}

.team_culture_border ul{
	margin:0;
	padding:0;
	width:1010px;
	margin-top:20px;
}
.team_culture_border li{
	float:left;
	width:25%;
	height:252px;
	display:block;
	list-style:none;
	position:relative;
	font-size:0px;
}
.team_culture_border li.gray{
	background:#444;
}

.team_culture_c_text{
	position:absolute;
	left:20px;
	top:45%;
	color:#fff;
	transform:skewY(26.5deg);
	font-size:14px;
}
.team_culture_c_text .name{
	font-size:18px;
	margin:15px 0;
	width:100px;
	margin-top:-5px;
}
.team_culture_c_text .intro{
	font-size:13px;
	margin:8px 0;
}
.team_culture_c_text .doc{
	font-size:13px;
	margin:8px 0;
}

.team_culture_c_img{
	transform:skewY(26.5deg);
	position:absolute;
	top:-63px;
	width:100%;
}
.team_culture_c_img img{
	width:100%;
}